<div class="row">

    <div class="col-md-5">

        <h4><span class="glyphicon glyphicon-user"></span> Customer Controls</h4>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Occurred</th>
                <th>New Email</th>
                <th>New Name</th>
                <th>ID</th>
            </tr>
            </thead>
            <tbody>
            <tr  ng-repeat="(key, event) in customerLog">
                <td format-date date="event.occurred"></td>
                <td>{{event.newName}}</td>
                <td>{{event.newEmail}}</td>
                    <a href="" class="glyphicon glyphicon-envelope" ng-if="participant.statusCode == 0"></a>
                    <span class="glyphicon glyphicon-ok" ng-if="!participant.statusCode == 0"></span>
                </td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="getCustomerLog(customer.aggregateId.aggregateId)">
                        <span class="glyphicon glyphicon-align-justify">
                        </span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <hr />

        <form class="form-group" role="form" method="post" name="newEmailForm">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                <input type="text" class="form-control" id="include"
                       ng-model="newEmailData.customerId" placeholder="Customer Id"/>
            </div>
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                <input type="text" class="form-control" id="include"
                       ng-model="newEmailData.newEmail" placeholder="New Email"/>
            </div>
            <div class="input-group">
                <button type="submit" class="btn btn-success" ng-click="newEmailEvent()">
                    <span class="glyphicon glyphicon-floppy-save"></span> Update Email
                </button>
            </div>
        </form>
        <form class="form-group" role="form" method="post" name="newEmailForm">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                <input type="text" class="form-control" id="include"
                       ng-model="newNameData.customerId" placeholder="Customer Id"/>
            </div>
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                <input type="text" class="form-control" id="include"
                       ng-model="newNameData.newName" placeholder="New Name"/>
            </div>
            <div class="input-group">
                <button type="submit" class="btn btn-success" ng-click="newNameEvent()">
                    <span class="glyphicon glyphicon-floppy-save"></span> Update Name
                </button>
            </div>
        </form>



    </div>

    <div class="col-md-7">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>AggregateId</th>
                <th>Name</th>
                <th>Email</th>
                <th>Log</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="customer in customers">
                <td>{{customer.aggregateId.aggregateId}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.email}}
                    <a href="" class="glyphicon glyphicon-envelope" ng-if="participant.statusCode == 0"></a>
                    <span class="glyphicon glyphicon-ok" ng-if="!participant.statusCode == 0"></span>
                </td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="getCustomerLog(customer.aggregateId.aggregateId)">
                        <span class="glyphicon glyphicon-align-justify">

                        </span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>