<div class="jumbotron text-center">
<h1>Customer Account System</h1>
<p class="lead">
  <img src="images/money.jpg" alt="Money money money!"><br>
  The only bank accounts without relations to customers.
</p>
</div>

        <button type="button" class="btn btn-danger" ng-click="persistEventStore()">Persist Events</button>

